.bg-green {
    background-color: green;
}
.bg-red {
    background-color: red;
}
.bg-yellow {
    background-color: yellow;
}
.bg-pink {
    background-color: pink;
}
.slider-track:after{
    content: '';
    display: table;
    clear: both;
}
.vn-slider{
    float: left;
}